In [33]:
import pandas as pd
import os
import geopandas as gpd

In [3]:
os.getcwd()

'c:\\Eigene Dateien\\Datafest\\DataFest_GeoChallenge'

In [71]:
df_municipal['livespace_MEDIAN_grid_2022']

0        67.820
1        70.350
2        73.125
3        60.295
4        67.265
          ...
10990    54.250
10991    51.170
10992    53.600
10993    53.125
10994       NaN
Name: livespace_MEDIAN_grid_2022, Length: 10995, dtype: float64

In [11]:
df_municipal = pd.read_csv('Data/municipal_main/municipal_main.csv')

In [14]:
df_municipal[['AGS', 'ARS', 'GEN']]

              AGS           ARS          GEN
0       1051001.0  1.051518e+10   Albersdorf
1       1051002.0  1.051518e+10      Arkebek
2       1051003.0  1.051516e+10      Averlak
3       1051004.0  1.051518e+10  Bargenstedt
4       1051005.0  1.051517e+10   Barkenholm
...           ...           ...          ...
10990  16052000.0  1.605200e+11         Gera
10991  16053000.0  1.605300e+11         Jena
10992  16054000.0  1.605400e+11         Suhl
10993  16055000.0  1.605500e+11       Weimar
10994         NaN  3.153540e+10          NaN

[10995 rows x 3 columns]

In [5]:
df_municipal.columns

Index(['ID', 'AGS', 'ARS', 'GEN', 'lan_name', 'east_west', 'fuaname_core',
       'fuaname_comm', 'KFL_2021', 'bs_2005', 'bs_20', 'pop_2005', 'pop_20',
       'pop2005_MIN', 'pop2005_MAX', 'pop2005_MEAN', 'pop2005_MEDIAN',
       'pop20_MIN', 'pop20_MAX', 'pop20_MEAN', 'pop20_MEDIAN', 'bs2005_MIN',
       'bs2005_MAX', 'bs2005_MEAN', 'bs2005_MEDIAN', 'bs20_MIN', 'bs20_MAX',
       'bs20_MEAN', 'bs20_MEDIAN', 'lupp2005_MIN', 'lupp2005_MAX',
       'lupp2005_MEAN', 'lupp2005_MEDIAN', 'lupp20_MIN', 'lupp20_MAX',
       'lupp20_MEAN', 'lupp20_MEDIAN', 'min_FLAT_size_2011',
       'max_FLAT_size_2011', 'median_FLAT_size_2011', 'mean_FLAT_size_2011',
       'livespace_pp_2011', 'livespace_MIN_grid_2022',
       'livespace_MAX_grid_2022', 'livespace_MEAN_grid_2022',
       'livespace_MEDIAN_grid_2022', 'vac_MIN_grid_2022', 'vac_MAX_grid_2022',
       'vac_MEAN_grid_2022', 'vac_MEDIAN_grid_2022', 'vac_MEAN_muni_2022',
       'POP_60_plus_._2022', 'OWN_rate_._2022', 'Rent_m2_EUR_2022',
       'mean_FLAT_size_2022', 'share_small_whg_2022', 'share_mid_WHG_2022',
       'share_big_WHG_2022', 'share_small_HH_2022', 'share_larger_HH_2022',
       'Grundsteuer.A_2022', 'Grundsteuer.B_2022', 'Gewerbesteuer_2022',
       'Total_POP_2011', 'Total_POP_2022', 'Residential_units_2011',
       'Taxpayers_2007', 'Taxpayers_2020', 'Total_income_EUR_2007',
       'Total_income_EUR_2020', 'Income_tax_EUR_2007', 'Income_tax_EUR_2020',
       'Tax_pp_2007', 'Tax_pp_2020', 'Income_tax_EUR_2007_constant_2020',
       'Total_income_EUR_2007_constant_2020', 'change_pc_bs_median',
       'change_pc_bs_mean', 'change_pc_bs_total', 'change_pc_lupp_median',
       'change_pc_lupp_mean', 'change_pc_income_tax', 'change_pc_total_income',
       'change_pc_income_tax_pp', 'change_pc_flat_size',
       'change_pc_livespace_pp', 'Destination_2025',
       'Total_TravelTime.min_2025', 'drive_distance.km_2025',
       'Continous_urban_2018', 'Discontinous_low_dense_urban_2018',
       'Isolated_strcutures_2018', 'Discontinous_dense_urban_2018',
       'Green_urban_area_2018', 'Industrial_commercial_2018',
       'Discontinous_medium_dense_urban_2018',
       'Discontinous_very_low_dense_urban_2018', 'Land_no_current_use_2018',
       'Fast_transit_roads_2018', 'Airports_2018'],
      dtype='object')

In [6]:
df_municipal.head()

,ID,AGS,ARS,GEN,lan_name,east_west,fuaname_core,fuaname_comm,KFL_2021,bs_2005,...,Discontinous_low_dense_urban_2018,Isolated_strcutures_2018,Discontinous_dense_urban_2018,Green_urban_area_2018,Industrial_commercial_2018,Discontinous_medium_dense_urban_2018,Discontinous_very_low_dense_urban_2018,Land_no_current_use_2018,Fast_transit_roads_2018,Airports_2018
0,1,1051001.0,1.051518e+10,Albersdorf,Schleswig-Holstein,West,NaN,NaN,17.12,422018.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,1051002.0,1.051518e+10,Arkebek,Schleswig-Holstein,West,NaN,NaN,6.92,45613.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1051003.0,1.051516e+10,Averlak,Schleswig-Holstein,West,NaN,NaN,9.06,95403.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1051004.0,1.051518e+10,Bargenstedt,Schleswig-Holstein,West,NaN,NaN,11.90,156547.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,1051005.0,1.051517e+10,Barkenholm,Schleswig-Holstein,West,NaN,NaN,5.11,36667.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df_municipal.columns

Index(['ID', 'AGS', 'ARS', 'GEN', 'lan_name', 'east_west', 'fuaname_core',
       'fuaname_comm', 'KFL_2021', 'bs_2005', 'bs_20', 'pop_2005', 'pop_20',
       'pop2005_MIN', 'pop2005_MAX', 'pop2005_MEAN', 'pop2005_MEDIAN',
       'pop20_MIN', 'pop20_MAX', 'pop20_MEAN', 'pop20_MEDIAN', 'bs2005_MIN',
       'bs2005_MAX', 'bs2005_MEAN', 'bs2005_MEDIAN', 'bs20_MIN', 'bs20_MAX',
       'bs20_MEAN', 'bs20_MEDIAN', 'lupp2005_MIN', 'lupp2005_MAX',
       'lupp2005_MEAN', 'lupp2005_MEDIAN', 'lupp20_MIN', 'lupp20_MAX',
       'lupp20_MEAN', 'lupp20_MEDIAN', 'min_FLAT_size_2011',
       'max_FLAT_size_2011', 'median_FLAT_size_2011', 'mean_FLAT_size_2011',
       'livespace_pp_2011', 'livespace_MIN_grid_2022',
       'livespace_MAX_grid_2022', 'livespace_MEAN_grid_2022',
       'livespace_MEDIAN_grid_2022', 'vac_MIN_grid_2022', 'vac_MAX_grid_2022',
       'vac_MEAN_grid_2022', 'vac_MEDIAN_grid_2022', 'vac_MEAN_muni_2022',
       'POP_60_plus_._2022', 'OWN_rate_._2022', 'Rent_m2_EUR_2022',
       'mean_FLAT_size_2022', 'share_small_whg_2022', 'share_mid_WHG_2022',
       'share_big_WHG_2022', 'share_small_HH_2022', 'share_larger_HH_2022',
       'Grundsteuer.A_2022', 'Grundsteuer.B_2022', 'Gewerbesteuer_2022',
       'Total_POP_2011', 'Total_POP_2022', 'Residential_units_2011',
       'Taxpayers_2007', 'Taxpayers_2020', 'Total_income_EUR_2007',
       'Total_income_EUR_2020', 'Income_tax_EUR_2007', 'Income_tax_EUR_2020',
       'Tax_pp_2007', 'Tax_pp_2020', 'Income_tax_EUR_2007_constant_2020',
       'Total_income_EUR_2007_constant_2020', 'change_pc_bs_median',
       'change_pc_bs_mean', 'change_pc_bs_total', 'change_pc_lupp_median',
       'change_pc_lupp_mean', 'change_pc_income_tax', 'change_pc_total_income',
       'change_pc_income_tax_pp', 'change_pc_flat_size',
       'change_pc_livespace_pp', 'Destination_2025',
       'Total_TravelTime.min_2025', 'drive_distance.km_2025',
       'Continous_urban_2018', 'Discontinous_low_dense_urban_2018',
       'Isolated_strcutures_2018', 'Discontinous_dense_urban_2018',
       'Green_urban_area_2018', 'Industrial_commercial_2018',
       'Discontinous_medium_dense_urban_2018',
       'Discontinous_very_low_dense_urban_2018', 'Land_no_current_use_2018',
       'Fast_transit_roads_2018', 'Airports_2018'],
      dtype='object')

In [73]:
df_wm_cities = pd.read_csv('Data/HiDrive/panel/CampusFile_WM_cities.csv')

C:\Users\Florian Korn\AppData\Local\Temp\ipykernel_18312\683619759.py:1: DtypeWarning: Columns (1,11,19) have mixed types. Specify dtype option on import or set low_memory=False.
  df_wm_cities = pd.read_csv('Data/HiDrive/panel/CampusFile_WM_cities.csv')

In [45]:
df_municipal.head()

,ID,AGS,ARS,GEN,lan_name,east_west,fuaname_core,fuaname_comm,KFL_2021,bs_2005,...,Discontinous_low_dense_urban_2018,Isolated_strcutures_2018,Discontinous_dense_urban_2018,Green_urban_area_2018,Industrial_commercial_2018,Discontinous_medium_dense_urban_2018,Discontinous_very_low_dense_urban_2018,Land_no_current_use_2018,Fast_transit_roads_2018,Airports_2018
0,1,1051001.0,1.051518e+10,Albersdorf,Schleswig-Holstein,West,NaN,NaN,17.12,422018.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,1051002.0,1.051518e+10,Arkebek,Schleswig-Holstein,West,NaN,NaN,6.92,45613.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1051003.0,1.051516e+10,Averlak,Schleswig-Holstein,West,NaN,NaN,9.06,95403.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1051004.0,1.051518e+10,Bargenstedt,Schleswig-Holstein,West,NaN,NaN,11.90,156547.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,1051005.0,1.051517e+10,Barkenholm,Schleswig-Holstein,West,NaN,NaN,5.11,36667.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
df_wm_cities.columns

Index(['obid', 'plz', 'mietekalt', 'nebenkosten', 'heizkosten', 'baujahr',
       'letzte_modernisierung', 'wohnflaeche', 'nutzflaeche', 'etage',
       'anzahletagen', 'zimmeranzahl', 'nebenraeume', 'schlafzimmer',
       'badezimmer', 'ev_kennwert', 'laufzeittage', 'hits',
       'click_schnellkontakte', 'click_customer', 'click_weitersagen',
       'click_url', 'liste_show', 'liste_match', 'immobilientyp', 'aufzug',
       'balkon', 'einbaukueche', 'ev_wwenthalten', 'foerderung', 'gaestewc',
       'garten', 'heizkosten_in_wm_enthalten', 'keller', 'parkplatz',
       'rollstuhlgerecht', 'bauphase', 'ausstattung', 'energieeffizienzklasse',
       'energieausweistyp', 'haustier_erlaubt', 'heizungsart',
       'kategorie_Wohnung', 'objektzustand', 'lieferung', 'ergg_1km', 'blid',
       'gid2019', 'kid2019', 'bef1', 'bef2', 'bef10', 'bef9', 'bef8', 'bef7',
       'bef6', 'bef5', 'bef4', 'bef3', 'anbieter', 'spell', 'hits_gen',
       'click_schnellkontakte_gen', 'click_weitersagen_gen', 'click_url_gen',
       'liste_show_gen', 'liste_match_gen', 'adat', 'edat', 'rent_sqm'],
      dtype='object')

In [60]:
plz_map.head(1)

,name,plz_name,plz_name_long,geometry,plz_code,krs_code,lan_name,lan_code,krs_name,geo_point_2d,Stadtbezirk
0,52134,Herzogenrath,52134 Herzogenrath,"{'type': 'Feature', 'geometry': {'coordinates'...",52134,5334,Nordrhein-Westfalen,5,Kreis Städteregion Aachen,"{'lon': 6.09832161494, 'lat': 50.8638900847}",None

In [68]:
plz_map

,name,plz_name,plz_name_long,geometry,plz_code,krs_code,lan_name,lan_code,krs_name,geo_point_2d,Stadtbezirk
0,52134,Herzogenrath,52134 Herzogenrath,"{'type': 'Feature', 'geometry': {'coordinates'...",52134,5334,Nordrhein-Westfalen,5,Kreis Städteregion Aachen,"{'lon': 6.09832161494, 'lat': 50.8638900847}",None
1,41372,Niederkrüchten,41372 Niederkrüchten,"{'type': 'Feature', 'geometry': {'coordinates'...",41372,5166,Nordrhein-Westfalen,5,Kreis Viersen,"{'lon': 6.15424337541, 'lat': 51.2048375784}",None
2,52379,Langerwehe,52379 Langerwehe,"{'type': 'Feature', 'geometry': {'coordinates'...",52379,5358,Nordrhein-Westfalen,5,Kreis Düren,"{'lon': 6.3643683641, 'lat': 50.7987741433}",None
3,54614,Schönecken,54614 Schönecken,"{'type': 'Feature', 'geometry': {'coordinates'...",54614,7232,Rheinland-Pfalz,7,Landkreis Eifelkreis Bitburg-Prüm,"{'lon': 6.44878094816, 'lat': 50.1510017758}",None
4,53949,Dahlem,53949 Dahlem,"{'type': 'Feature', 'geometry': {'coordinates'...",53949,5366,Nordrhein-Westfalen,5,Kreis Euskirchen,"{'lon': 6.51099135402, 'lat': 50.3959654257}",None
...,...,...,...,...,...,...,...,...,...,...,...
8929,66506,Maßweiler,66506 Maßweiler,"{'type': 'Feature', 'geometry': {'coordinates'...",66506,7340,Rheinland-Pfalz,7,Landkreis Südwestpfalz,"{'lon': 7.52911416239, 'lat': 49.2700781722}",None
8930,58239,Schwerte,58239 Schwerte,"{'type': 'Feature', 'geometry': {'coordinates'...",58239,5978,Nordrhein-Westfalen,5,Kreis Unna,"{'lon': 7.57661713433, 'lat': 51.4301623729}",None
8931,56070,Koblenz,56070 Koblenz,"{'type': 'Feature', 'geometry': {'coordinates'...",56070,7111,Rheinland-Pfalz,7,Kreisfreie Stadt Koblenz,"{'lon': 7.56153777036, 'lat': 50.3641846408}",None
8932,56321,Rhens,56321 Rhens,"{'type': 'Feature', 'geometry': {'coordinates'...",56321,7137,Rheinland-Pfalz,7,Landkreis Mayen-Koblenz,"{'lon': 7.59898188085, 'lat': 50.2729453117}",None
8933,56271,Kleinmaischeid,56271 Kleinmaischeid,"{'type': 'Feature', 'geometry': {'coordinates'...",56271,7138,Rheinland-Pfalz,7,Landkreis Neuwied,"{'lon': 7.5986119858, 'lat': 50.4990462794}",None

In [ ]:
def map_municipality_df(df):
    '''
    This function loads the municipal data, loads the plz and adds it to the df.
    '''

    # PLZ zu Stadtbezirk Mapping für München
    muenchen_stadtbezirke = pd.read_csv("Data/Stadtbezirke/muenchen.csv", sep = ';', index_col = 'PLZ')
    muc_bezirk_dict = muenchen_stadtbezirke.to_dict()

    # PLZ-Karte laden und Stadtbezirke zuordnen
    plz_map = pd.read_json("Data/PLZMap/georef-germany-postleitzahl.json")
    plz_map['Stadtbezirk'] = plz_map['plz_code'].apply(lambda x: muc_bezirk_dict['Stadtbezirk'][x] if x in muc_bezirk_dict.keys() else None)

    # Gemeindedaten laden
    df_municipal = pd.read_csv('Data/municipal_main/municipal_main.csv')

    # WICHTIG: Ergebnis des merge zuweisen
    df_municipal = df_municipal.merge(plz_map[['plz_name', 'plz_code', 'Stadtbezirk', 'name']], 
                                    left_on='GEN', right_on='plz_name')

    # ÖPNV-Daten laden und vorbereiten
    geopandas_opnv = gpd.read_file("Data/opnv/opnv_gute_gemeinden_2025.gpkg")
    geopandas_opnv['Gemeinde-schlüssel (AGS)'] = geopandas_opnv['Gemeinde-schlüssel (AGS)'].astype(float)

    # Merge mit ÖPNV-Daten   
    df_municipal = df_municipal.merge(geopandas_opnv[['Gemeinde-schlüssel (AGS)','Name', 'Durch-schnittliche Güte']], 
                                    left_on='AGS', right_on='Gemeinde-schlüssel (AGS)')

    # Überprüfe zuerst die tatsächlichen Spaltennamen
    print(df_municipal.columns)

    # Dann merge mit korrekten Spaltennamen
    # Nutze entweder 'name' oder 'Name' je nachdem was tatsächlich existiert
    return df.merge(df_municipal[['Name', 'Durch-schnittliche Güte', 'GEN']], 
                            left_on='plz', right_on='Name')

In [70]:
# PLZ zu Stadtbezirk Mapping für München
muenchen_stadtbezirke = pd.read_csv("Data/Stadtbezirke/muenchen.csv", sep = ';', index_col = 'PLZ')
muc_bezirk_dict = muenchen_stadtbezirke.to_dict()

# PLZ-Karte laden und Stadtbezirke zuordnen
plz_map = pd.read_json("Data/PLZMap/georef-germany-postleitzahl.json")
plz_map['Stadtbezirk'] = plz_map['plz_code'].apply(lambda x: muc_bezirk_dict['Stadtbezirk'][x] if x in muc_bezirk_dict.keys() else None)

# Gemeindedaten laden
df_municipal = pd.read_csv('Data/municipal_main/municipal_main.csv')

# WICHTIG: Ergebnis des merge zuweisen
df_municipal = df_municipal.merge(plz_map[['plz_name', 'plz_code', 'Stadtbezirk', 'name']], 
                                 left_on='GEN', right_on='plz_name')

# ÖPNV-Daten laden und vorbereiten
geopandas_opnv = gpd.read_file("Data/opnv/opnv_gute_gemeinden_2025.gpkg")
geopandas_opnv['Gemeinde-schlüssel (AGS)'] = geopandas_opnv['Gemeinde-schlüssel (AGS)'].astype(float)

# Merge mit ÖPNV-Daten   
df_municipal = df_municipal.merge(geopandas_opnv[['Gemeinde-schlüssel (AGS)','Name', 'Durch-schnittliche Güte']], 
                                 left_on='AGS', right_on='Gemeinde-schlüssel (AGS)')

# Überprüfe zuerst die tatsächlichen Spaltennamen
print(df_municipal.columns)

# Dann merge mit korrekten Spaltennamen
# Nutze entweder 'name' oder 'Name' je nachdem was tatsächlich existiert
result = df_wm_cities.merge(df_municipal[['Name', 'Durch-schnittliche Güte', 'GEN']], 
                           left_on='plz', right_on='Name')

Index(['ID', 'AGS', 'ARS', 'GEN', 'lan_name', 'east_west', 'fuaname_core',
       'fuaname_comm', 'KFL_2021', 'bs_2005',
       ...
       'Land_no_current_use_2018', 'Fast_transit_roads_2018', 'Airports_2018',
       'plz_name', 'plz_code', 'Stadtbezirk', 'name',
       'Gemeinde-schlüssel (AGS)', 'Name', 'Durch-schnittliche Güte'],
      dtype='object', length=107)

In [72]:
result.columns

Index(['obid', 'plz', 'mietekalt', 'nebenkosten', 'heizkosten', 'baujahr',
       'letzte_modernisierung', 'wohnflaeche', 'nutzflaeche', 'etage',
       'anzahletagen', 'zimmeranzahl', 'nebenraeume', 'schlafzimmer',
       'badezimmer', 'ev_kennwert', 'laufzeittage', 'hits',
       'click_schnellkontakte', 'click_customer', 'click_weitersagen',
       'click_url', 'liste_show', 'liste_match', 'immobilientyp', 'aufzug',
       'balkon', 'einbaukueche', 'ev_wwenthalten', 'foerderung', 'gaestewc',
       'garten', 'heizkosten_in_wm_enthalten', 'keller', 'parkplatz',
       'rollstuhlgerecht', 'bauphase', 'ausstattung', 'energieeffizienzklasse',
       'energieausweistyp', 'haustier_erlaubt', 'heizungsart',
       'kategorie_Wohnung', 'objektzustand', 'lieferung', 'ergg_1km', 'blid',
       'gid2019', 'kid2019', 'bef1', 'bef2', 'bef10', 'bef9', 'bef8', 'bef7',
       'bef6', 'bef5', 'bef4', 'bef3', 'anbieter', 'spell', 'hits_gen',
       'click_schnellkontakte_gen', 'click_weitersagen_gen', 'click_url_gen',
       'liste_show_gen', 'liste_match_gen', 'adat', 'edat', 'rent_sqm', 'Name',
       'Durch-schnittliche Güte', 'GEN'],
      dtype='object')

In [69]:
muenchen_stadtbezirke = pd.read_csv("Data/Stadtbezirke/muenchen.csv", sep = ';', index_col = 'PLZ')
muc_bezirk_dict = muenchen_stadtbezirke.to_dict()
plz_map = pd.read_json("Data/PLZMap/georef-germany-postleitzahl.json")
plz_map['Stadtbezirk'] = plz_map['plz_code'].apply(lambda x: muc_bezirk_dict['Stadtbezirk'][x] if x in muc_bezirk_dict.keys() else None)
df_municipal = pd.read_csv('Data/municipal_main/municipal_main.csv')
df_municipal.merge(plz_map[['plz_name', 'plz_code', 'Stadtbezirk', 'name']], left_on = 'GEN', right_on = 'plz_name')
geopandas_opnv = gpd.read_file("Data/opnv/opnv_gute_gemeinden_2025.gpkg")
geopandas_opnv['Gemeinde-schlüssel (AGS)'] = geopandas_opnv['Gemeinde-schlüssel (AGS)'].astype(float)
    
df_municipal = df_municipal.merge(geopandas_opnv[['Gemeinde-schlüssel (AGS)','Name', 'Durch-schnittliche Güte']], left_on = 'AGS', right_on = 'Gemeinde-schlüssel (AGS)')
df_wm_cities.merge(df_municipal[['name', 'Durch-schnittliche Güte', 'GEN']], left_on = 'plz', right_on = 'Name')

KeyError: "['name'] not in index"

In [67]:
df_municipal.head(1)

,ID,AGS,ARS,GEN,lan_name,east_west,fuaname_core,fuaname_comm,KFL_2021,bs_2005,...,Green_urban_area_2018,Industrial_commercial_2018,Discontinous_medium_dense_urban_2018,Discontinous_very_low_dense_urban_2018,Land_no_current_use_2018,Fast_transit_roads_2018,Airports_2018,Gemeinde-schlüssel (AGS),Name,Durch-schnittliche Güte
0,1,1051001.0,1.051518e+10,Albersdorf,Schleswig-Holstein,West,NaN,NaN,17.12,422018.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1051001.0,Albersdorf,4.54

In [64]:
df_municipal['plz_name']

KeyError: 'plz_name'

In [51]:
plz_map.head()

,name,plz_name,plz_name_long,geometry,plz_code,krs_code,lan_name,lan_code,krs_name,geo_point_2d
0,52134,Herzogenrath,52134 Herzogenrath,"{'type': 'Feature', 'geometry': {'coordinates'...",52134,5334,Nordrhein-Westfalen,5,Kreis Städteregion Aachen,"{'lon': 6.09832161494, 'lat': 50.8638900847}"
1,41372,Niederkrüchten,41372 Niederkrüchten,"{'type': 'Feature', 'geometry': {'coordinates'...",41372,5166,Nordrhein-Westfalen,5,Kreis Viersen,"{'lon': 6.15424337541, 'lat': 51.2048375784}"
2,52379,Langerwehe,52379 Langerwehe,"{'type': 'Feature', 'geometry': {'coordinates'...",52379,5358,Nordrhein-Westfalen,5,Kreis Düren,"{'lon': 6.3643683641, 'lat': 50.7987741433}"
3,54614,Schönecken,54614 Schönecken,"{'type': 'Feature', 'geometry': {'coordinates'...",54614,7232,Rheinland-Pfalz,7,Landkreis Eifelkreis Bitburg-Prüm,"{'lon': 6.44878094816, 'lat': 50.1510017758}"
4,53949,Dahlem,53949 Dahlem,"{'type': 'Feature', 'geometry': {'coordinates'...",53949,5366,Nordrhein-Westfalen,5,Kreis Euskirchen,"{'lon': 6.51099135402, 'lat': 50.3959654257}"

In [ ]:
def map_municipality_df(df):
    '''
    This function loads the municipal data, loads the plz and adds it to the df.
    '''
    muenchen_stadtbezirke = pd.read_csv("Data/Stadtbezirke/muenchen.csv", sep = ';', index_col = 'PLZ')
    muc_bezirk_dict = muenchen_stadtbezirke.to_dict()

    df_municipal = pd.read_csv('Data/municipal_main/municipal_main.csv')
    plz_map = pd.read_json("Data/PLZMap/georef-germany-postleitzahl.json")
    plz_map['Stadtbezirk'] = plz_map['plz_code'].apply(lambda x: muc_bezirk_dict['Stadtbezirk'][x] if x in muc_bezirk_dict.keys() else None)
    df_municipal = df_municipal.merge(plz_map[['plz_name', 'plz_code', 'Stadtbezirk', 'name']], left_on = 'GEN', right_on = 'plz_name')
    
    geopandas_opnv = gpd.read_file("Data/opnv/opnv_gute_gemeinden_2025.gpkg")
    geopandas_opnv['Gemeinde-schlüssel (AGS)'] = geopandas_opnv['Gemeinde-schlüssel (AGS)'].astype(float)
    
    df_municipal = df_municipal.merge(geopandas_opnv[['Gemeinde-schlüssel (AGS)','Name', 'Durch-schnittliche Güte']], left_on = 'AGS', right_on = 'Gemeinde-schlüssel (AGS)')
    return df.merge(df_municipal[['name', 'Durch-schnittliche Güte', 'GEN']], left_on = 'plz', right_on = 'GEN')

map_municipality_df(df_wm_cities[['badezimmer', 'mietekalt']])

KeyError: 'plz_name'

In [36]:
df_wm_cities.columns

Index(['obid', 'plz', 'mietekalt', 'nebenkosten', 'heizkosten', 'baujahr',
       'letzte_modernisierung', 'wohnflaeche', 'nutzflaeche', 'etage',
       'anzahletagen', 'zimmeranzahl', 'nebenraeume', 'schlafzimmer',
       'badezimmer', 'ev_kennwert', 'laufzeittage', 'hits',
       'click_schnellkontakte', 'click_customer', 'click_weitersagen',
       'click_url', 'liste_show', 'liste_match', 'immobilientyp', 'aufzug',
       'balkon', 'einbaukueche', 'ev_wwenthalten', 'foerderung', 'gaestewc',
       'garten', 'heizkosten_in_wm_enthalten', 'keller', 'parkplatz',
       'rollstuhlgerecht', 'bauphase', 'ausstattung', 'energieeffizienzklasse',
       'energieausweistyp', 'haustier_erlaubt', 'heizungsart',
       'kategorie_Wohnung', 'objektzustand', 'lieferung', 'ergg_1km', 'blid',
       'gid2019', 'kid2019', 'bef1', 'bef2', 'bef10', 'bef9', 'bef8', 'bef7',
       'bef6', 'bef5', 'bef4', 'bef3', 'anbieter', 'spell', 'hits_gen',
       'click_schnellkontakte_gen', 'click_weitersagen_gen', 'click_url_gen',
       'liste_show_gen', 'liste_match_gen', 'adat', 'edat', 'rent_sqm'],
      dtype='object')

In [9]:
df_wm_cities.head()

,obid,plz,mietekalt,nebenkosten,heizkosten,baujahr,letzte_modernisierung,wohnflaeche,nutzflaeche,etage,...,spell,hits_gen,click_schnellkontakte_gen,click_weitersagen_gen,click_url_gen,liste_show_gen,liste_match_gen,adat,edat,rent_sqm
0,40804900,21079,499.00,77,Other missing,NaN,Other missing,65.000000,65,1,...,1,37.500000,0.0,0.20000,0.000000,221.200000,639.900020,2007m2,2007m3,7.676923
1,40387914,21031,481.18,147,Other missing,2000.0,Other missing,63.549999,Other missing,2,...,1,8.444445,0.0,0.00000,0.000000,113.222220,959.000000,2007m1,2007m1,7.571676
2,40658770,22049,469.35,Other missing,Other missing,NaN,Other missing,67.000000,Other missing,Other missing,...,2,1.610170,0.0,0.00000,0.067797,56.898304,376.881350,2007m3,2007m4,7.005224
3,43257032,22761,820.00,195,Other missing,1959.0,Other missing,110.000000,Other missing,Other missing,...,1,0.893167,0.0,0.00705,0.000000,10.808568,16.568329,2007m10,2007m11,7.454546
4,41925785,20535,264.66,130,Other missing,NaN,Other missing,47.259998,Other missing,1,...,1,18.000000,0.0,0.00000,0.000000,135.000000,169.000000,2007m6,2007m6,5.600085

In [10]:
df_wm_cities.columns

Index(['obid', 'plz', 'mietekalt', 'nebenkosten', 'heizkosten', 'baujahr',
       'letzte_modernisierung', 'wohnflaeche', 'nutzflaeche', 'etage',
       'anzahletagen', 'zimmeranzahl', 'nebenraeume', 'schlafzimmer',
       'badezimmer', 'ev_kennwert', 'laufzeittage', 'hits',
       'click_schnellkontakte', 'click_customer', 'click_weitersagen',
       'click_url', 'liste_show', 'liste_match', 'immobilientyp', 'aufzug',
       'balkon', 'einbaukueche', 'ev_wwenthalten', 'foerderung', 'gaestewc',
       'garten', 'heizkosten_in_wm_enthalten', 'keller', 'parkplatz',
       'rollstuhlgerecht', 'bauphase', 'ausstattung', 'energieeffizienzklasse',
       'energieausweistyp', 'haustier_erlaubt', 'heizungsart',
       'kategorie_Wohnung', 'objektzustand', 'lieferung', 'ergg_1km', 'blid',
       'gid2019', 'kid2019', 'bef1', 'bef2', 'bef10', 'bef9', 'bef8', 'bef7',
       'bef6', 'bef5', 'bef4', 'bef3', 'anbieter', 'spell', 'hits_gen',
       'click_schnellkontakte_gen', 'click_weitersagen_gen', 'click_url_gen',
       'liste_show_gen', 'liste_match_gen', 'adat', 'edat', 'rent_sqm'],
      dtype='object')

In [11]:
os.getcwd()

'c:\\Eigene Dateien\\Datafest\\DataFest_GeoChallenge'

In [12]:
plz_map = pd.read_json("Data/PLZMap/georef-germany-postleitzahl.json")

In [13]:
plz_map.head()

,name,plz_name,plz_name_long,geometry,plz_code,krs_code,lan_name,lan_code,krs_name,geo_point_2d
0,52134,Herzogenrath,52134 Herzogenrath,"{'type': 'Feature', 'geometry': {'coordinates'...",52134,5334,Nordrhein-Westfalen,5,Kreis Städteregion Aachen,"{'lon': 6.09832161494, 'lat': 50.8638900847}"
1,41372,Niederkrüchten,41372 Niederkrüchten,"{'type': 'Feature', 'geometry': {'coordinates'...",41372,5166,Nordrhein-Westfalen,5,Kreis Viersen,"{'lon': 6.15424337541, 'lat': 51.2048375784}"
2,52379,Langerwehe,52379 Langerwehe,"{'type': 'Feature', 'geometry': {'coordinates'...",52379,5358,Nordrhein-Westfalen,5,Kreis Düren,"{'lon': 6.3643683641, 'lat': 50.7987741433}"
3,54614,Schönecken,54614 Schönecken,"{'type': 'Feature', 'geometry': {'coordinates'...",54614,7232,Rheinland-Pfalz,7,Landkreis Eifelkreis Bitburg-Prüm,"{'lon': 6.44878094816, 'lat': 50.1510017758}"
4,53949,Dahlem,53949 Dahlem,"{'type': 'Feature', 'geometry': {'coordinates'...",53949,5366,Nordrhein-Westfalen,5,Kreis Euskirchen,"{'lon': 6.51099135402, 'lat': 50.3959654257}"

In [14]:
df_municipal = df_municipal.merge(plz_map[['plz_name', 'plz_code']], left_on = 'GEN', right_on = 'plz_name')

In [15]:
df_municipal.columns

Index(['ID', 'AGS', 'ARS', 'GEN', 'lan_name', 'east_west', 'fuaname_core',
       'fuaname_comm', 'KFL_2021', 'bs_2005',
       ...
       'Discontinous_dense_urban_2018', 'Green_urban_area_2018',
       'Industrial_commercial_2018', 'Discontinous_medium_dense_urban_2018',
       'Discontinous_very_low_dense_urban_2018', 'Land_no_current_use_2018',
       'Fast_transit_roads_2018', 'Airports_2018', 'plz_name', 'plz_code'],
      dtype='object', length=102)

In [ ]:
df_municipal = df_municipal[['plz_name', 'plz_code','east_west']]

In [17]:
df_wm_cities[df_wm_cities['plz'] == 4157]

,obid,plz,mietekalt,nebenkosten,heizkosten,baujahr,letzte_modernisierung,wohnflaeche,nutzflaeche,etage,...,spell,hits_gen,click_schnellkontakte_gen,click_weitersagen_gen,click_url_gen,liste_show_gen,liste_match_gen,adat,edat,rent_sqm
3981326,39543235,4157,383.76,159.9,Other missing,NaN,Other missing,80.000000,Other missing,3,...,1,0.960938,0.000000,0.000000,0.015625,10.593750,69.765625,2007m1,2007m5,4.797000
3981327,41189432,4157,475.00,172.5,Other missing,NaN,Other missing,86.239998,Other missing,4,...,3,8.668342,0.000000,0.040201,0.025126,71.954773,188.497480,2007m5,2007m5,5.507885
3981336,39355563,4157,399.00,200,Other missing,NaN,Other missing,99.730003,Other missing,2,...,2,4.159763,0.000000,0.011834,0.005917,66.414200,300.893490,2007m4,2007m6,4.000802
3981385,43288718,4157,348.00,110,Other missing,NaN,Other missing,60.000000,Other missing,Other missing,...,1,0.358056,0.000000,0.000000,0.000000,6.560103,22.969309,2007m10,2007m12,5.800000
3981401,38250455,4157,290.00,110,Other missing,NaN,Other missing,53.000000,Other missing,Other missing,...,1,2.246988,0.000000,0.004016,0.002008,28.734940,96.793175,2007m1,2007m2,5.471698
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4755810,142295756,4157,337.50,80,Other missing,1994.0,Other missing,27.000000,Other missing,4,...,1,77.142860,4.142857,0.000000,0.142857,1073.571400,4483.428700,2023m5,2023m5,12.500000
4755836,89980921,4157,645.50,188.01,Other missing,1934.0,2016,62.669998,Other missing,0,...,2,93.044868,3.000000,0.006410,0.115385,845.916690,5502.089800,2023m7,2023m12,10.299984
4755895,99129450,4157,564.00,97,161,1914.0,2001,78.000000,Other missing,3,...,2,241.230770,2.538461,0.000000,0.000000,1238.961500,4576.884800,2023m6,2023m6,7.230769
4755932,115219540,4157,695.07,194.88,Other missing,1881.0,Implausible value,64.959999,Other missing,1,...,2,101.766670,2.233333,0.000000,0.200000,638.733340,10053.333000,2023m3,2023m3,10.699969
4755933,143723128,4157,890.00,Other missing,Other missing,1997.0,Other missing,52.000000,Other missing,3,...,1,145.000000,0.000000,0.000000,0.000000,789.000000,5030.000000,2023m7,2023m7,17.115385

In [18]:
df_wm_cities.columns

Index(['obid', 'plz', 'mietekalt', 'nebenkosten', 'heizkosten', 'baujahr',
       'letzte_modernisierung', 'wohnflaeche', 'nutzflaeche', 'etage',
       'anzahletagen', 'zimmeranzahl', 'nebenraeume', 'schlafzimmer',
       'badezimmer', 'ev_kennwert', 'laufzeittage', 'hits',
       'click_schnellkontakte', 'click_customer', 'click_weitersagen',
       'click_url', 'liste_show', 'liste_match', 'immobilientyp', 'aufzug',
       'balkon', 'einbaukueche', 'ev_wwenthalten', 'foerderung', 'gaestewc',
       'garten', 'heizkosten_in_wm_enthalten', 'keller', 'parkplatz',
       'rollstuhlgerecht', 'bauphase', 'ausstattung', 'energieeffizienzklasse',
       'energieausweistyp', 'haustier_erlaubt', 'heizungsart',
       'kategorie_Wohnung', 'objektzustand', 'lieferung', 'ergg_1km', 'blid',
       'gid2019', 'kid2019', 'bef1', 'bef2', 'bef10', 'bef9', 'bef8', 'bef7',
       'bef6', 'bef5', 'bef4', 'bef3', 'anbieter', 'spell', 'hits_gen',
       'click_schnellkontakte_gen', 'click_weitersagen_gen', 'click_url_gen',
       'liste_show_gen', 'liste_match_gen', 'adat', 'edat', 'rent_sqm'],
      dtype='object')

In [19]:
df_combined = df_wm_cities[['mietekalt', 'nebenkosten', 'plz']].merge(df_municipal, left_on = 'plz', right_on = 'plz_code')

In [20]:
df_combined['plz_name'].unique()

array(['Hamburg', 'Schenefeld', 'Seevetal', 'Radbruch', 'Ahrensburg',
       'Ellerbek', 'Köln', 'Rellingen', 'Kirchbarkau', 'Salzhausen',
       'Norderstedt', 'Oerlinghausen', 'Tangstedt', 'Reinbek',
       'Hollern-Twielenfleth', 'Barsbüttel', 'Wedel', 'Karlsruhe',
       'Rostock', 'Darmstadt', 'Geesthacht', 'Dessau-Roßlau',
       'Frankfurt am Main', 'Halstenbek', 'Mannheim', 'Düsseldorf',
       'München', 'Ammersbek', 'Rösrath', 'Dortmund', 'Kaufbeuren',
       'Bad Schwartau', 'Straelen', 'Mindelheim', 'Waldkirchen',
       'Zweibrücken', 'Eislingen/Fils', 'Kulmbach', 'Bad Münstereifel',
       'Remscheid', 'Fellbach', 'Assamstadt', 'Bottrop', 'Griesheim',
       'Freiberg', 'Bad Bramstedt', 'Klütz', 'Linden', 'Pirmasens',
       'Viersen', 'Chemnitz', 'Aumühle', 'Stuttgart', 'Münsterdorf',
       'Gnutz', 'Kaltenkirchen', 'Lübeck', 'Winsen', 'Vierhöfen',
       'Kirchheimbolanden', 'Kiel', 'Moers', 'Hannover', 'Langenhagen',
       'Isernhagen', 'Wedemark', 'Hildesheim', 'Sülzetal', 'Ronnenberg',
       'Seelze', 'Wunstorf', 'Laatzen', 'Gehrden', 'Wolfsburg', 'Garbsen',
       'Harsum', 'Bad Nenndorf', 'Lehrte', 'Essen', 'Hemmingen',
       'Murnau a. Staffelsee', 'Celle', 'Göttingen', 'Lehre', 'Bremen',
       'Achim', 'Stuhr', 'Oyten', 'Flensburg', 'Bamberg', 'Delmenhorst',
       'Hürth', 'Leipzig', 'Todtnau', 'Ritterhude', 'Nürnberg',
       'Lilienthal', 'Bassum', 'Bielefeld', 'Roklum', 'Schwanewede',
       'Erkrath', 'Duisburg', 'Neuss', 'Meerbusch', 'Mülheim an der Ruhr',
       'Geldern', 'Solingen', 'Langenfeld', 'Velbert', 'Goch',
       'Blankenheim', 'Ratingen', 'Mönchengladbach', 'Tecklenburg',
       'Hilden', 'Radevormwald', 'Mettmann', 'Korschenbroich', 'Zülpich',
       'Karben', 'Seesen', 'Gelsenkirchen', 'Bersenbrück', 'Offenburg',
       'Böblingen', 'Fulda', 'Monheim am Rhein', 'Vaterstetten',
       'Kitzingen', 'Roth', 'Coesfeld', 'Dachau', 'Aachen', 'Wittmund',
       'Quedlinburg', 'Seth', 'Wuppertal', 'Dallgow-Döberitz',
       'Quierschied', 'Ibbenbüren', 'Oberhausen', 'Krefeld', 'Brüggen',
       'Koblenz', 'Heiligenhaus', 'Plauen', 'Kaarst', 'Haan',
       'Haltern am See', 'Marl', 'Erkelenz', 'Dinslaken', 'Dülmen',
       'Hattingen', 'Gummersbach', 'Dormagen', 'Witten', 'Bochum',
       'Bad Driburg', 'Oer-Erkenschwick', 'Herne', 'Heiden', 'Kassel',
       'Hünxe', 'Uersfeld', 'Bergisch Gladbach', 'Pulheim', 'Kreuzau',
       'Kerpen', 'Nörvenich', 'Frechen', 'Bergheim', 'Leverkusen', 'Jena',
       'Much', 'Blomberg', 'Gladbeck', 'Erftstadt', 'Arnsberg',
       'Meckenheim', 'Müden (Aller)', 'Marienheide', 'Linnich', 'Münster',
       'Castrop-Rauxel', 'Holzwickede', 'Lünen', 'Schwerte', 'Herdecke',
       'Hagen', 'Datteln', 'Kamen', 'Kirchen (Sieg)', 'Mainz', 'Unna',
       'Freiburg im Breisgau', 'Eschborn', 'Neu-Isenburg',
       'Bad Homburg v.d. Höhe', 'Offenbach am Main',
       'Liederbach am Taunus', 'Bad Vilbel', 'Maintal', 'Höchst i. Odw.',
       'Bad Soden am Taunus', 'Gemünden', 'Oberursel (Taunus)',
       'Wiesbaden', 'Erlensee', 'Königs Wusterhausen',
       'Kronberg im Taunus', 'Detmold', 'Schneeberg', 'Heidelberg',
       'Zwingenberg', 'Rodgau', 'Lorch', 'Remseck am Neckar', 'Lörrach',
       'Waiblingen', 'Sindelfingen', 'Gerlingen',
       'Leinfelden-Echterdingen', 'Korntal-Münchingen', 'Reutlingen',
       'Leonberg', 'Pforzheim', 'Schwaikheim', 'Ostfildern',
       'Kornwestheim', 'Benningen am Neckar', 'Freiberg am Neckar',
       'Waldshut-Tiengen', 'Saarbrücken', 'Weil im Schönbuch', 'Grünwald',
       'Herrenberg', 'Wendeburg', 'Mechernich', 'Filderstadt',
       'Kabelsketal', 'Esslingen am Neckar', 'Ravensburg', 'Hochdorf',
       'Wittlingen', 'Weinstadt', 'Feldkirchen', 'Neubiberg',
       'Markt Bibart', 'Warngau', 'Neuried', 'Starnberg', 'Haar',
       'Gräfelfing', 'Unterhaching', 'Germering', 'Karlsfeld', 'Ornbau',
       'Pullach i. Isartal', 'Geretsried', 'Aschheim', 'Oberhaching',
       'Unterschleißheim', 'Augsburg', 'Brunnthal', 'Wörthsee', 'Eching',
       'Traunreut', 'Günzburg', 'Emmerting', 'Putzbrunn', 'Unterföhring',
       'Garching b. München', 'Straubing', 'Poing', 'Markt Schwaben',
       'Freising', 'Ingolstadt', 'Grasbrunn', 'Rottach-Egern',
       'Kirchheim b. München', 'Garmisch-Partenkirchen', 'Kirchseeon',
       'Euskirchen', 'Werne', 'Bichl', 'Eurasburg', 'Carlsberg',
       'Hohenlinden', 'Fürstenzell', 'Herrsching a. Ammersee',
       'Pfaffenhofen a.d. Ilm', 'Boos', 'Wolfratshausen', 'Taufkirchen',
       'Bodenmais', 'Vilsbiburg', 'Passau', 'Aying', 'Ismaning', 'Sylt',
       'Münsing', 'Gauting', 'Julbach', 'Iffeldorf', 'Rehling',
       'Schäftlarn', 'Markt Erlbach', 'Fürth', 'Heilsbronn', 'Schwabach',
       'Scheinfeld', 'Heroldsberg', 'Wunsiedel', 'Hemhofen', 'Itzgrund',
       'Oberasbach', 'Bonn', 'Stein', 'Donaueschingen', 'Zirndorf',
       'Höhenkirchen-Siegertsbrunn', 'Hilpoltstein', 'Berlin',
       'Schönefeld', 'Potsdam', 'Panketal', 'Glienicke/Nordbahn',
       'Hohen Neuendorf', 'Kleinmachnow', 'Erkner', 'Blankenfelde-Mahlow',
       'Mühlenbecker Land', 'Lissendorf', 'Michendorf', 'Erfurt',
       'Spornitz', 'Burgschwalbach', 'Zeuthen', 'Teltow',
       'Schöneiche bei Berlin', 'Neuenmarkt', 'Waltrop', 'Dresden',
       'Hildburghausen', 'Weilerswist', 'Mittenwalde', 'Falkensee',
       'Würzburg', 'Tuttlingen', 'Trebbin', 'Neustrelitz', 'Radebeul',
       'Rabenau', 'Wilsdruff', 'Pegnitz', 'Bannewitz', 'Paderborn',
       'Freital', 'Heidenau', 'Braunschweig', 'Meißen', 'Moritzburg',
       'Kreischa', 'Weinböhla', 'Borsdorf', 'Taucha', 'Markkleeberg',
       'Großpösna', 'Markranstädt', 'Schkeuditz', 'Bingen am Rhein',
       'Rackwitz', 'Machern', 'Zwenkau', 'Bitterfeld-Wolfen'],
      dtype=object)

In [25]:
df_wm_cities['ergg_1km']

0          4321_3369
1          4335_3376
2                 -9
3                 -9
4          4323_3383
             ...
4755933    4486_3142
4755934    4489_3139
4755935    4488_3138
4755936    4484_3141
4755937    4481_3140
Name: ergg_1km, Length: 4755938, dtype: object

In [21]:
pd.DataFrame(df_combined['plz'].unique())

          0
0     22089
1     22081
2     22049
3     21033
4     22045
...     ...
1051  55411
1052   4519
1053   4827
1054   4442
1055   6749

[1056 rows x 1 columns]

In [24]:
plz_map

,name,plz_name,plz_name_long,geometry,plz_code,krs_code,lan_name,lan_code,krs_name,geo_point_2d
0,52134,Herzogenrath,52134 Herzogenrath,"{'type': 'Feature', 'geometry': {'coordinates'...",52134,5334,Nordrhein-Westfalen,5,Kreis Städteregion Aachen,"{'lon': 6.09832161494, 'lat': 50.8638900847}"
1,41372,Niederkrüchten,41372 Niederkrüchten,"{'type': 'Feature', 'geometry': {'coordinates'...",41372,5166,Nordrhein-Westfalen,5,Kreis Viersen,"{'lon': 6.15424337541, 'lat': 51.2048375784}"
2,52379,Langerwehe,52379 Langerwehe,"{'type': 'Feature', 'geometry': {'coordinates'...",52379,5358,Nordrhein-Westfalen,5,Kreis Düren,"{'lon': 6.3643683641, 'lat': 50.7987741433}"
3,54614,Schönecken,54614 Schönecken,"{'type': 'Feature', 'geometry': {'coordinates'...",54614,7232,Rheinland-Pfalz,7,Landkreis Eifelkreis Bitburg-Prüm,"{'lon': 6.44878094816, 'lat': 50.1510017758}"
4,53949,Dahlem,53949 Dahlem,"{'type': 'Feature', 'geometry': {'coordinates'...",53949,5366,Nordrhein-Westfalen,5,Kreis Euskirchen,"{'lon': 6.51099135402, 'lat': 50.3959654257}"
...,...,...,...,...,...,...,...,...,...,...
8929,66506,Maßweiler,66506 Maßweiler,"{'type': 'Feature', 'geometry': {'coordinates'...",66506,7340,Rheinland-Pfalz,7,Landkreis Südwestpfalz,"{'lon': 7.52911416239, 'lat': 49.2700781722}"
8930,58239,Schwerte,58239 Schwerte,"{'type': 'Feature', 'geometry': {'coordinates'...",58239,5978,Nordrhein-Westfalen,5,Kreis Unna,"{'lon': 7.57661713433, 'lat': 51.4301623729}"
8931,56070,Koblenz,56070 Koblenz,"{'type': 'Feature', 'geometry': {'coordinates'...",56070,7111,Rheinland-Pfalz,7,Kreisfreie Stadt Koblenz,"{'lon': 7.56153777036, 'lat': 50.3641846408}"
8932,56321,Rhens,56321 Rhens,"{'type': 'Feature', 'geometry': {'coordinates'...",56321,7137,Rheinland-Pfalz,7,Landkreis Mayen-Koblenz,"{'lon': 7.59898188085, 'lat': 50.2729453117}"
8933,56271,Kleinmaischeid,56271 Kleinmaischeid,"{'type': 'Feature', 'geometry': {'coordinates'...",56271,7138,Rheinland-Pfalz,7,Landkreis Neuwied,"{'lon': 7.5986119858, 'lat': 50.4990462794}"

In [42]:
muenchen_stadtbezirke = pd.read_csv("Data/Stadtbezirke/muenchen.csv", sep = ';', index_col = 'PLZ')

In [ ]:
muc_bezirk_dict = muenchen_stadtbezirke.to_dict()

In [56]:
plz_map.columns

Index(['name', 'plz_name', 'plz_name_long', 'geometry', 'plz_code', 'krs_code',
       'lan_name', 'lan_code', 'krs_name', 'geo_point_2d'],
      dtype='object')

In [65]:
plz_map['Stadtbezirk'] = plz_map['plz_code'].apply(lambda x: muc_bezirk_dict['Stadtbezirk'][x] if x in muc_bezirk_dict.keys() else None)

In [45]:
muc_bezirk_dict[81829]

KeyError: 81829

In [35]:
plz_map.apply(lambda x: muenchen_stadtbezirke[muenchen_stadtbezirke['PLZ'] == x]['Stadtbezirk'])

ValueError: Can only compare identically-labeled Series objects

In [33]:
muenchen_stadtbezirke

                  Stadtbezirk    PLZ
0       Allach - Untermenzing  80999
1       Allach - Untermenzing  81247
2       Allach - Untermenzing  81249
3            Altstadt - Lehel  80331
4            Altstadt - Lehel  80333
..                        ...    ...
70           Trudering - Riem  81825
71           Trudering - Riem  81827
72           Trudering - Riem  81829
73  Untergiesing - Harlaching  81543
74  Untergiesing - Harlaching  81545

[75 rows x 2 columns]

In [3]:
import geopandas as gpd
geopandas_opnv = gpd.read_file("Data/opnv/opnv_gute_gemeinden_2025.gpkg")

In [31]:
geopandas_opnv.columns

Index(['id', 'Gemeinde-schlüssel (AGS)', 'Name', 'Durch-schnittliche Güte',
       'Median Güte', 'Einwohner Güte A', 'Einwohner Güte B',
       'Einwohner Güte C', 'Einwohner Güte D', 'Einwohner Güte E',
       'Einwohner Güte F', 'Einwohner Keine Güte', 'geometry'],
      dtype='object')

In [29]:
geopandas_opnv['Gemeinde-schlüssel (AGS)'] = geopandas_opnv['Gemeinde-schlüssel (AGS)'].astype(float)

In [77]:
geopandas_opnv['Name']

0        Bad Münder am Deister
1                    Lauschied
2                        Pohle
3                     Sarstedt
4                   Merxhausen
                 ...
10969                   Aerzen
10970              Neu Darchau
10971                    Kluse
10972                  Boffzen
10973               Holzminden
Name: Name, Length: 10974, dtype: object

In [30]:
df_municipal.merge(geopandas_opnv[['Gemeinde-schlüssel (AGS)','Name']], left_on = 'AGS', right_on = 'Gemeinde-schlüssel (AGS)')

,ID,AGS,ARS,GEN,lan_name,east_west,fuaname_core,fuaname_comm,KFL_2021,bs_2005,...,Discontinous_dense_urban_2018,Green_urban_area_2018,Industrial_commercial_2018,Discontinous_medium_dense_urban_2018,Discontinous_very_low_dense_urban_2018,Land_no_current_use_2018,Fast_transit_roads_2018,Airports_2018,Gemeinde-schlüssel (AGS),Name
0,1,1051001.0,1.051518e+10,Albersdorf,Schleswig-Holstein,West,NaN,NaN,17.12,422018.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1051001.0,Albersdorf
1,2,1051002.0,1.051518e+10,Arkebek,Schleswig-Holstein,West,NaN,NaN,6.92,45613.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1051002.0,Arkebek
2,3,1051003.0,1.051516e+10,Averlak,Schleswig-Holstein,West,NaN,NaN,9.06,95403.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1051003.0,Averlak
3,4,1051004.0,1.051518e+10,Bargenstedt,Schleswig-Holstein,West,NaN,NaN,11.90,156547.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1051004.0,Bargenstedt
4,5,1051005.0,1.051517e+10,Barkenholm,Schleswig-Holstein,West,NaN,NaN,5.11,36667.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1051005.0,Barkenholm
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10969,10990,16051000.0,1.605100e+11,Erfurt,Thüringen,East,Erfurt,NaN,269.91,11265656.0,...,12599800.0,4258300.0,22102100.0,3300600.0,239200.0,653200.0,2059200.0,2463900.0,16051000.0,Erfurt
10970,10991,16052000.0,1.605200e+11,Gera,Thüringen,East,Gera,NaN,152.18,6380840.0,...,4288900.0,1838500.0,9035800.0,4856900.0,1979800.0,259400.0,518500.0,385800.0,16052000.0,Gera
10971,10992,16053000.0,1.605300e+11,Jena,Thüringen,East,Jena,NaN,114.77,4626010.0,...,4855000.0,1980900.0,9938900.0,3032200.0,995200.0,55700.0,433600.0,0.0,16053000.0,Jena
10972,10993,16054000.0,1.605400e+11,Suhl,Thüringen,East,NaN,NaN,141.62,2709905.0,...,148000.0,33700.0,264800.0,282600.0,7700.0,35600.0,0.0,0.0,16054000.0,Suhl
10973,10994,16055000.0,1.605500e+11,Weimar,Thüringen,East,Weimar,NaN,84.48,3641181.0,...,3814600.0,3226800.0,6441900.0,1279800.0,9000.0,208100.0,191700.0,0.0,16055000.0,Weimar

In [23]:
16052000 in geopandas_opnv['Gemeinde-schlüssel (AGS)']

False